settings["DEFAULT"] = {
  "loglevel": 10,
  "logfile": "/dev/stdout",
  "period": 30,
}
settings["matrix"] = {
  "uri": "http://localhost:8000",
  "username": "username",
  "password": "password",
  "domain": "matrix.org",
  "rooms": []
}
settings["mail"] = {
        "host": "127.0.0.1",
        "port": 25,
        "ssl": False,
        "subject": "Matrix bot",
        "from": "bot@domain.com",
        "username": "username",
        "password": "password",
        "to_policy": "deny",  # or allow
        "to_policy_filter": "all"  # None or ["domain.com", "mailbox@second-domain.com"]
}
settings["memcached"] = {
    "ip": "127.0.0.1",
    "port": 11211,
    "timeout": 300,
}
settings["ldap"] = {
  "server": "ldap://ldap.local",
  "base": "ou=People,dc=example,dc=com",
  "groups": [],
  "groups_id": "cn",
  "groups_filter": "(objectClass=posixGroup)",
  "groups_base": "ou=Group,dc=example,dc=com",
  "users_aliases": {
      "user1":"username1",
  },
}
settings["aliases"] = {
  "simple_invite":"invite +group1 +group2",
  "simple_kick":"invite +group1 +group2",
}
settings["subscriptions"] = {
  "#room_alias1":"@user1 @user2 but @user3",
  "#room_alias2":"+group1 +group2 but @user1",
}
settings["revokations"] = {
  "#room_alias1":"@user1 @user2 but @user3",
  "#room_alias2":"+group1 +group2 but @user1",
}
settings["allowed-join"] = {
  "default": "+group1 +group2 but @user1",
  "#room_alias1": "+group1 +group2",
}


# settings["plugins"] = {}

# plugin_trac={}
# plugin_trac["module"] = "matrixbot.plugins.trac"
# plugin_trac["class"] = "TracPlugin"
# plugin_trac["settings"] = {
#     "username": "username",
#     "name": "trac",
#     "rooms": ["!room_id"],
#     "url_protocol": "https", 
#     "url_domain": "trac", 
#     "url_path": "/tracker", 
#     "url_auth_user": "user", 
#     "url_auth_password": "password",
#     "status": ['new', 'reopened', 'closed'],
# } 
# 
# settings["plugins"]["plugin_trac"] = plugin_trac

# plugin_broadcast={}
# plugin_broadcast["module"] = "matrixbot.plugins.broadcast"
# plugin_broadcast["class"] = "BroadcastPlugin"
# plugin_broadcast["settings"] = {
#     "username": "username",
#     "name": "broadcast",
#     "users": ["@user1"],
#     "rooms": ["!room_id",
#               "#room_alias"],
# }
#
# settings["plugins"]["plugin_broadcast"] = plugin_broadcast

# plugin_feeder={}
# plugin_feeder["module"] = "matrixbot.plugins.feeder"
# plugin_feeder["class"] = "FeederPlugin"
# plugin_feeder["settings"] = {
#     "period": 60,
#     "username": "username",
#     "name": "feed",
#     "rooms": ["!room_id"],
#     "feeds": {
#         "matrix-bot": "https://github.com/psaavedra/matrix-bot/commits/master.atom",
#     },
# }
#
# settings["plugins"]["plugin_feeder"] = plugin_feeder

# plugin_wk={}
# plugin_wk["module"] = "matrixbot.plugins.wkbotsfeeder"
# plugin_wk["class"] = "WKBotsFeederPlugin"
# plugin_wk["settings"] = {
#     "username": "bot",
#     "period": 10,
#     "name": "wk",
#     "rooms": ["!room_id"],
#     "builders": {
#         "WPE Linux 64-bit Release (Build)": {
#             "last_buildjob_url_squema": "https://build.webkit.org/builders/%(builder_name)s/builds/%(last_buildjob)s",
#             "builds_url_squema": "https://build.webkit.org/json/builders/%(builder_name)s/builds?select=-2&as_text=1",
#             "builder_name": "WPE Linux 64-bit Release (Build)",
#             "only_failures": False,
#             "target_step": {
#               "name": "compile-webkit",
#               "text": "compiled"
#             }
#         },
# }
# settings["plugins"]["plugin_feeder"] = plugin_feeder
