[DEFAULT]
loglevel:10
logfile:/dev/stdout
period:10

[matrix]
uri:https://matrix.org
username:username
password:password
rooms:!room:matrix.org,
domain:matrix.org

[ldap]
server:ldap://ldap.local
base:ou=People,dc=example,dc=com
groups:group1,group2,persons
groups_base:ou=Group,dc=example,dc=com
groups_filter:(objectClass=posixGroup)
groups_id:cn
persons:(objectClass=person)

[aliases]
aliases:simple_invite,simple_kick
simple_invite:invite +group1 +group2
simple_kick:invite +group1 +group2

[subscriptions]
rooms:!room1,!room2
room-!room1:@user1 @user2 but @user3
room-!room2:+group1 +group2 but @user1

[revokations]
rooms:!room1,!room2
room-!room1:@user1 @user2 but @user3
room-!room2:+group1 +group2 but @user1

[allowed-join]
default:+group1 +group2 but @user1
rooms:!room1
room-!room1:+group1 +group2
