[DEFAULT]
loglevel:10
logfile:/dev/stdout
period:10

[matrix]
uri:https://matrix.org
username:username
password:password
rooms:!room:matrix.org,
domain:matrix.org

[ldap]
server:ldap://ldap.local
base:ou=People,dc=example,dc=com
groups:person,
person:(objectClass=person)
