certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
feedparser==6.0.8
getconf==1.5.1
idna==2.8
matrix-client==0.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.1
python-ldap==3.4.0
python-memcached==1.59
pytz==2018.9
requests==2.26.0
sgmllib3k==1.0.0
six==1.16.0
urllib3==1.26.5
